@{
    ViewBag.Title = "Holdings";
}

<script src="@Url.Content("~/Scripts/records.js")" type="text/javascript"></script>

<div data-bind="activeGrid: grid"></div>
<br/>
<input type="button" value="Add Row" onclick="my.viewModel.addGenericRow();" />